In [9]:
import geopy.distance

In [10]:
def kmDist(lat1,long1,lat2,long2):
    set1 = (lat1,long1)
    set2 = (lat2,long2)
    return geopy.distance.distance(set1,set2).km

In [11]:
kmDist(52.22,21.0122,52.4,16.92)

279.7787313769476

In [12]:
import pandas as pd
stopsdf = pd.read_csv("../get_stops_data/b20-stops-data/b20-south-stops-data.csv")

In [13]:
stopsdf.head()

,61918,SB RICHARDS ST FS W GEORGIA ST,W GEORGIA ST,N,VANCOUVER,49.280899,-123.116794,RICHARDS ST,020,True
0,59040,WB ROBSON ST NS GRANVILLE ST,GRANVILLE ST,N,VANCOUVER,49.281280,-123.119551,ROBSON ST,"017, 020",True
1,61293,NB GRANVILLE ST NS W GEORGIA ST,W GEORGIA ST,N,VANCOUVER,49.282317,-123.118291,GRANVILLE ST,"004, 007, 010, 014, 016, 017, 020, 050",True
2,60993,NB GRANVILLE ST NS DUNSMUIR ST,DUNSMUIR ST,N,VANCOUVER,49.283461,-123.116549,GRANVILLE ST,"004, 007, 010, 014, 016, 017, 020, 050",True
3,58313,NB GRANVILLE ST NS W PENDER ST,W PENDER ST,N,VANCOUVER,49.284493,-123.114994,GRANVILLE ST,"004, 007, 010, 014, 016, 017, 020, 050",True
4,50930,EB W HASTINGS ST FS SEYMOUR ST,SEYMOUR ST,N,VANCOUVER,49.284334,-123.112551,W HASTINGS ST,"014, 016, 020, N20, N35",True

In [14]:
dbdf = pd.read_csv("../stats-canada-data/vancouverSubset.csv",encoding = "ISO–8859–1")

In [15]:
dbdf.columns

Index(['Unnamed: 0', 'DBuid/IDidu', ' DBpop2016/IDpop2016',
       ' DBtdwell2016/IDtlog2016', ' DBurdwell2016/IDrh2016',
       ' DBarea2016/IDsup2016', ' DBir2016/IDri2016', ' DAuid/ADidu',
       ' DArplamx/ADlamx', ' DArplamy/ADlamy', ' DArplat/Adlat',
       ' DArplong/ADlong', ' PRuid/PRidu', ' PRname/PRnom', ' PRename/PRanom',
       ' PRfname/PRfnom', ' PReabbr/PRaabbrev', ' PRfabbr/PRfabbrev',
       ' FEDuid/CEFidu', ' FEDname/CEFnom', ' ERuid/REidu', ' ERname/REnom',
       ' CDuid/DRidu', ' CDname/DRnom', ' CDtype/DRgenre', ' ADAuid/ADAidu',
       ' ADAcode', ' CSDuid/SDRidu', ' CSDname/SDRnom', ' CSDtype/SDRgenre',
       ' SACtype/CSSgenre', ' SACcode/CSScode', ' CCSuid/SRUidu',
       ' CCSname/SRUnom', ' DPLuid/LDidu', ' DPLname/LDnom',
       ' DPLtype/LDgenre', ' CMAPuid/RMRPidu', ' CMAuid/RMRidu',
       ' CMAname/RMRnom', ' CMAtype/RMRgenre', ' CTuid/SRidu',
       ' CTcode/SRcode', ' CTname/SRnom', ' POPCTRRAPuid/CTRPOPRRPidu',
       ' POPCTRRAuid/CTRPOPRRidu', ' POPCTRRAname/CTRPOPRRnom',
       ' POPCTRRAtype/CTRPOPRRgenre', ' POPCTRRAclass/CTRPOPRRclasse'],
      dtype='object')

In [16]:
dbdf.head()

,Unnamed: 0,DBuid/IDidu,DBpop2016/IDpop2016,DBtdwell2016/IDtlog2016,DBurdwell2016/IDrh2016,DBarea2016/IDsup2016,DBir2016/IDri2016,DAuid/ADidu,DArplamx/ADlamx,DArplamy/ADlamy,...,CMAname/RMRnom,CMAtype/RMRgenre,CTuid/SRidu,CTcode/SRcode,CTname/SRnom,POPCTRRAPuid/CTRPOPRRPidu,POPCTRRAuid/CTRPOPRRidu,POPCTRRAname/CTRPOPRRnom,POPCTRRAtype/CTRPOPRRgenre,POPCTRRAclass/CTRPOPRRclasse
0,445092,59151369002,244.0,71.0,69.0,0.0385,F,59151369,4.022986e+06,2.001438e+06,...,Vancouver,B,9330036.02,2958,36.02,590973,973,Vancouver,1,4
1,445094,59151364002,161.0,56.0,55.0,0.0179,F,59151364,4.022285e+06,2.001400e+06,...,Vancouver,B,9330036.01,2957,36.01,590973,973,Vancouver,1,4
2,445095,59151373002,347.0,140.0,124.0,0.1095,F,59151373,4.023369e+06,2.001165e+06,...,Vancouver,B,9330036.02,2958,36.02,590973,973,Vancouver,1,4
3,445098,59151365003,136.0,52.0,46.0,0.0167,F,59151365,4.022499e+06,2.001614e+06,...,Vancouver,B,9330036.01,2957,36.01,590973,973,Vancouver,1,4
4,445153,59151449001,134.0,83.0,77.0,0.0235,F,59151449,4.021838e+06,2.001493e+06,...,Vancouver,B,9330035.01,4898,35.01,590973,973,Vancouver,1,4

In [17]:
len(stopsdf)

53

In [18]:
def checkIfWithin5km(long1,lat1,long2,lat2):
    return kmDist(long1,lat1,long2,lat2) < 5

In [19]:
def classifyThisDbCloseOrNot(dbIndex):
    dbLong = dbdf.loc[dbIndex][" DArplong/ADlong"]
    dbLat = dbdf.loc[dbIndex][" DArplat/Adlat"]
    
    foundCloseStop = False
    
    for i in range(0,len(stopsdf)):
        stopLong = stopsdf.iloc[i][6]
        stopLat = stopsdf.iloc[i][5]
        #print("Compare:",dbLat,dbLong,stopLat,stopLong)
        if checkIfWithin5km(dbLat,dbLong,stopLat,stopLong):
            foundCloseStop = True
        
    return foundCloseStop

In [20]:
classifyThisDbCloseOrNot(0)

True

In [21]:
result = dbdf.copy()

In [22]:
result["hasCloseStop"]=0

In [23]:
for i in range(0,len(result)):
    if i %  100 == 0:
        print(i)
    closeOrNot = classifyThisDbCloseOrNot(i)
    if closeOrNot == True:
        result.at[i,"hasCloseStop"]=1

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500

In [24]:
resultSubset = result[result["hasCloseStop"]==1]

In [25]:
resultSubset.to_csv("dbwithin5kmSouth.csv",encoding="ISO–8859–1")