In [1]:
import location as lc
import pandas as pd

In [2]:
stopsdf = pd.read_csv("../get_stops_data/b20-stops-data/b20-north-stops-data.csv")
stopsdf.head()

,StopID,Name,AtStreet,BayNo,City,Lat,Long,OnStreet,Routes,WheelchairAccess
0,51202,WB HARRISON DR NS VICTORIA DR,VICTORIA DR,N,VANCOUVER,49.210673,-123.065781,HARRISON DR,020,True
1,51203,NB VICTORIA DR FS FRASERVIEW DR,FRASERVIEW DR,N,VANCOUVER,49.212765,-123.065964,VICTORIA DR,"020, N20",True
2,51204,NB VICTORIA DR FS E 61 AVE,E 61 AVE,N,VANCOUVER,49.214832,-123.065913,VICTORIA DR,"020, N20",True
3,51205,NB VICTORIA DR FS BRIGADOON AVE,BRIGADOON AVE,N,VANCOUVER,49.216910,-123.065874,VICTORIA DR,"020, N20",True
4,51206,NB VICTORIA DR FS UPLAND DR,UPLAND DR,N,VANCOUVER,49.218398,-123.065832,VICTORIA DR,"020, N20",True

In [3]:
stops = []

# iterate through each stop and init BusStop objects
for stop in stopsdf.iloc:
    connectedness = len(stop['Routes'].split(','))
    bstop = lc.BusStop(stop['Lat'], stop['Long'], stop['StopID'],[], connectedness)
    stops.append(bstop)

In [4]:
areadf = pd.read_csv("../stats-canada-data/DA.csv")
areadf.head()

,DAuid,DApop_2016,DAtdwell_2016,DAurdwell_2016,DAarea,DAir_2016,DArplamx,DArplamy,DArplat,DArplong,PRuid,CDcode,ADAcode,DAcode,ERcode,CCScode,CSDcode,CMAuid,CTname,CTcode
0,59150307,632,273,254,0.2994,0,4.025164e+06,2.004585e+06,49.287698,-123.026031,59,15,59,307,20,22,22,933,53.02,5286
1,59150308,501,223,203,0.1095,0,4.024986e+06,2.004256e+06,49.284329,-123.026065,59,15,59,308,20,22,22,933,53.02,5286
2,59150309,745,299,269,0.1118,0,4.024664e+06,2.004196e+06,49.282483,-123.029585,59,15,59,309,20,22,22,933,53.02,5286
3,59150310,536,310,283,0.1095,0,4.024866e+06,2.003949e+06,49.281378,-123.025534,59,15,59,310,20,22,22,933,53.02,5286
4,59150311,532,199,181,0.0810,0,4.024531e+06,2.003835e+06,49.279058,-123.028871,59,15,59,311,20,22,22,933,53.02,5286

In [5]:
areas = []

# iterate through each area and init Block objects
for area in areadf.iloc:
    area = lc.Block(area['DArplat'], area['DArplong'], area['DAuid'],int(area['DApop_2016']),int(area['DAurdwell_2016']), [])
    areas.append(area)

For each stop we find neighboring areas within 1 km

In [6]:
# find neighborhood for each stop
for stop in stops:
    stop.findNeighbors(areas, 1)

Create a data frame for stops which contains StopID, Lat, Long and Connectedness

In [7]:
stopId = [stop.id for stop in stops]
lat = [stop.lat for stop in stops]
long = [stop.long for stop in stops]
conect = [stop.connectedness for stop in stops]
d = {'stopId':stopId, 'lat':lat, 'long':long, 'connectedness':conect}
stopVizDf = pd.DataFrame(data=d)
stopVizDf

    stopId        lat        long  connectedness
0    51202  49.210673 -123.065781              1
1    51203  49.212765 -123.065964              2
2    51204  49.214832 -123.065913              2
3    51205  49.216910 -123.065874              2
4    51206  49.218398 -123.065832              2
5    51207  49.220662 -123.065738              2
6    51208  49.223425 -123.065653              2
7    51209  49.225458 -123.065603              2
8    51210  49.227465 -123.065556              2
9    51211  49.229847 -123.065483              2
10   51212  49.231503 -123.065432              2
11   50652  49.233152 -123.065403              2
12   50653  49.234784 -123.065348              2
13   50654  49.236203 -123.065307              2
14   50655  49.237698 -123.065288              2
15   50656  49.240320 -123.065188              2
16   50657  49.241893 -123.065138              2
17   50658  49.244828 -123.065039              2
18   51213  49.247959 -123.064952              2
19   51215  49.250596 -123.064898              2
20   51216  49.253274 -123.066572              2
21   51217  49.254682 -123.068394              2
22   51219  49.258015 -123.069745              2
23   51220  49.259948 -123.069673              2
24   58327  49.262699 -123.069636              2
25   58087  49.265331 -123.069596              2
26   51225  49.268043 -123.069530              2
27   51226  49.269918 -123.069518              2
28   51227  49.271608 -123.069481              2
29   51228  49.273323 -123.069430              2
30   51229  49.275134 -123.069418              2
31   51231  49.277014 -123.069433              2
32   51232  49.278704 -123.070346              2
33   51233  49.280571 -123.070272              2
34   50499  49.281362 -123.071174              6
35   50500  49.281378 -123.074606              5
36   50501  49.281445 -123.077888              5
37   50502  49.281111 -123.081789              5
38   50503  49.281155 -123.085249              5
39   50504  49.281200 -123.087667              5
40   50505  49.281282 -123.092019              5
41   50506  49.281321 -123.093904              5
42   50507  49.281356 -123.095847              5
43   53391  49.281426 -123.099363              4
44   50186  49.281733 -123.105366              8
45   50187  49.282221 -123.108043              8
46   50188  49.283085 -123.110279              8
47   50189  49.283796 -123.112420              3
48   61918  49.280899 -123.116794              1

In [8]:
# import plotly.express as px
# px.set_mapbox_access_token(open("plotly-key").read())

# fig = px.scatter_mapbox(stopsdf, lat="Lat", lon="Long", color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=10)
# fig.show()